@import "tailwindcss";

:root {
}

@theme inline {
  --color-primary: #365dff;
  --color-secondary: #ebf2fc;
}

@keyframes dot-pulse {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

/* Loading */
.animate-first-dot {
  animation: dot-pulse 1.2s infinite ease-in-out;
}
.animate-second-dot {
  animation: dot-pulse 1.2s infinite ease-in-out 0.2s;
}
.animate-third-dot {
  animation: dot-pulse 1.2s infinite ease-in-out 0.4s;
}
