@import "tailwindcss";

:root {
}

@theme inline {
  --color-primary: #365dff;
  --color-secondary: #ebf2fc;
}

@keyframes dot-pulse {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
/* 
html,
body {
  overflow-x: hidden;
} */

body.dragging {
  touch-action: none;
}
.task-card {
  touch-action: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Loading */
.animate-first-dot {
  animation: dot-pulse 1.2s infinite ease-in-out;
}
.animate-second-dot {
  animation: dot-pulse 1.2s infinite ease-in-out 0.2s;
}
.animate-third-dot {
  animation: dot-pulse 1.2s infinite ease-in-out 0.4s;
}
